@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bright-yellow: #ffa822;
  --bright-yellow: #dee0e6;
  /* --dull-blue: #134e6f; */
  --dull-blue: #000;
  --dull-blue: #222;
  --dull-white: #dee0e6;
  --dull-white: #767b8a;
  --dull-white: #8f939e;
  --subtle-white: rgba(255, 255, 255, 0.1);
  --opacity: 0.65;
  --big--space: 2rem;
  --small--space: 1rem;
  --box-shadow: rgba(22, 22, 22, 0.6);
  --max-width-small: 600px;
}

@font-face {
  font-family: Sansation;
  src: url(../fonts/Sansation.ttf);
}

@font-face {
  font-family: Sansation;
  src: url(../fonts/Sansation_Bold.ttf);
  font-weight: bold;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: var(--dull-blue);
  /* font-size: 1.3125rem; */
  font-size: 1.125rem;
  color: var(--dull-white);
}

p {
  line-height: 160%;
  font-weight: 300;
  /* font-size: 1.3125rem; */
}

a {
  text-decoration: none;
}

section {
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  position: relative;
}

.spacer {
  aspect-ratio: 900/20;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background: url("/images/wave-haikei.svg");
}

.layer2 {
  background: url("/images/layered-waves-haikei.svg");
}

.profile img {
  max-width: 500px;
}

.btn {
  background-color: var(--bright-yellow);
  color: var(--dull-blue);
  border: 1px solid var(--bright-yellow);
  padding: 0.3em 0.6em;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.125rem;
  /* border-radius: 0px 8px 0px 8px; */
  border-radius: 20px;
}

.btn:hover {
  transition: all 250ms ease-in-out;

  background-color: var(--dull-blue);
  color: var(--bright-yellow);
}

.colored {
  color: var(--bright-yellow);
  /* text-shadow: 3px 2px 2px springgreen; */
}

.code-text {
  color: var(--subtle-white);
  font-style: italic;
  display: block;
  font-size: 0.7rem;
  margin-bottom: -0.3rem;
  margin-top: -0.3rem;
  display: none;
}

.btn-code {
  margin: 0.3rem 0;
}

.hero__name {
  margin-bottom: var(--small--space);
}

.hero__passion {
  margin: var(--small--space) 0;
}

.hero__contact {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.hamburger {
  width: 35px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 5;
  transition: all 500ms linear;
}

.hamburger.close {
  transform: rotate(90deg);
}

.hamburger.close .line--1 {
  transform: rotate(45deg);
}

.hamburger.close .line--2 {
  transform: rotate(-45deg);
}

.hamburger.close .line--3 {
  transform: rotate(45deg);
}

.harmburger__line,
.line {
  height: 4px;
  background-color: var(--bright-yellow);
  transition: all 400ms linear;
  border-radius: 0px 30px 0px 30px;
}

.line--1 {
  width: 50%;
}
.line--2 {
  width: 100%;
}
.line--3 {
  width: 50%;
  align-self: flex-end;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__intro {
  position: relative;
}

.hero__image {
  position: absolute;
  width: 20%;
  top: 15%;
  right: 12%;
  /* z-index: -1; */
  /* opacity: 0.125; */
}

.hero__image img {
  transform: rotateY(180deg);
  border-radius: 30px 0px 30px 0px;
  object-fit: cover;
  /* box-shadow: 2px 2px 2px 0px var(--bright-yellow),
    2px 2px 2px 0px var(--bright-yellow); */
}

.main-nav {
  background-color: var(--dull-blue);
  padding: 0 var(--small--space);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px var(--box-shadow);
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.logo {
  /* font-family: Sansation, serif; */
  text-transform: none;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  /* display: none; */
}

.intro__title {
  font-size: 2rem;
  font-weight: 700;
  /* font-family: Sansation, serif; */
  text-transform: capitalize;
  line-height: 130%;
  letter-spacing: 0.125rem;
  text-shadow: 2px 2px 0px rgba(56, 70, 63, 0.411);
}

.intro__text {
  font-size: 1.3125rem;
  width: 85%;
  max-width: 500px;
  line-height: 130%;
  font-weight: 300;
  text-transform: none;
}

.side-navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  align-items: center;
  min-height: 100%;
  display: none;
}

.social__icons {
  display: flex;
  flex-direction: column;
}

.sidebar__image {
  margin: 0 auto;
  transform: rotateY(180deg);
}

.nav__menu {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dull-blue);
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  transform: translateX(150%);
  transition: transform 500ms linear;
  z-index: 5;
  height: calc(100vh - 60px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__menu.show {
  transform: translateX(0);
}

.nav__menu__top {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 100%;
}

.nav__link {
  text-decoration: none;
  /* font-family: Sansation, serif; */
  color: var(--dull-white);
  text-transform: lowercase;
  font-size: 2.125rem;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link:hover {
  color: var(--bright-yellow);
  transform: scale(1.125);
  text-shadow: 3px 2px 2px springgreen;
  transition: all 250ms ease;
}
.nav__social {
  align-self: start;
}

.scroll__down {
  padding: 0em 0.8em;
  position: absolute;
  right: -10px;
  /* bottom: -80px; */
  transform: rotate(90deg);
  border: 0.005rem solid var(--bright-yellow);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.scroll__item__right {
  animation: upAndDown 1s ease-in infinite;
}

@keyframes upAndDown {
  0% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* menu toggle */
.toggle-menu {
  /* right: 0; */
  transform: translateY(0);
}

/* section styling */

.section__title {
  color: var(--bright-yellow);
  margin-bottom: var(--big--space);
  text-transform: capitalize;
  font-size: 1.75rem;
}

.section__description {
  text-transform: normal;
  margin-bottom: var(--big--space);
}

.project {
  /* border-bottom: 5px solid var(--bright-yellow); */
  margin-bottom: 2rem;
}

.project_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.project__title {
  margin-bottom: var(--small--space);
  text-transform: capitalize;
  font-size: 1.125rem;
}

.project_tech {
  font-size: 0.7rem;
  margin-left: auto;
}

.project__links {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

/* .fas,
.fab {
  color: var(--bright-yellow);
  font-size: 1rem;
} */

.fa-circle {
  color: springgreen;
}

.social__media .fab {
  font-size: 50px;
}

.project__links a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--dull-white);
  cursor: pointer;
}

.project__links a:nth-child(2) {
  margin-left: 30px;
}

.project__links p {
  font-size: 1rem;
}

.project__image img {
  border-radius: 0 10px 0 10px;
  object-fit: cover;
}

/* skills section */

.skills__grid {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width-small);
  gap: var(--small--space);
}

.skills__grid > img {
  transform: scale(0.6);
}

/* about section */

.profile img {
  width: 100%;
  /* margin: var(--small--space) 0; */
  border-radius: 10px;
  margin-bottom: var(--big--space);
}

#contactForm {
  margin-bottom: var(--big--space);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}

#contactForm > * {
  background-color: transparent;
  border: 2px solid var(--dull-white);
  outline: none;
  margin: 0.7rem 0;
  border-radius: 11px;
  padding-left: 0.3em;
  caret-color: var(--bright-yellow);
  /* font-family: "Montserrat"; */
}

input::placeholder {
  /* color: var(--bright-yellow); */
}

textarea,
input {
  font-size: 1rem;
  /* font-family: "Montserrat"; */
}
input:focus,
textarea:focus {
  color: #fff;
  padding: 3px;
}

input:not(:focus),
textarea:not(:focus) {
  color: #fff;
}

textarea::placeholder {
  /* color: var(--bright-yellow); */
}

#submitBtn {
  width: 7em;
  color: var(--bright-yellow);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--bright-yellow);
  border-radius: 20px;
  text-transform: capitalize;
  /* margin: 1rem auto; */
}

#submitBtn:hover {
  background-color: var(--bright-yellow);
  color: var(--dull-blue);
}

.social__media {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 4rem;
}

/* sidebar */

.sidebar__menu {
  display: none;
}

/* media queries */

@media (min-width: 500px) {
  .hero__image {
    position: absolute;
    width: 27%;
    top: 9%;
    right: 7%;
  }
}

@media (min-width: 600px) {
  .intro__text {
    width: 50%;
  }

  form,
  .social__media {
    max-width: 700px;
  }

  p {
    width: 70%;
  }

  body {
    font-size: 1.2125rem;
  }

  .intro__title {
    font-size: 2.75rem;
  }
}

@media (min-width: 1000px) {
  .sidebar__menu {
    display: unset;
  }

  .intro__title {
    font-size: 2.187rem;
  }

  .scroll__down {
    display: none;
  }

  .project__links {
    justify-content: start;
    gap: 1rem;
  }

  p {
    max-width: var(--max-width-small);
  }
  .hamburger {
    visibility: hidden;
  }

  .row {
    display: flex;
    position: relative;
  }

  main {
    flex: 10;
  }

  aside {
    flex: 2;
    position: fixed;
    min-height: 100vh;
    width: 20%;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    font-size: 1.3125rem;
  }

  .intro__title {
    font-size: 3.75rem;
  }
}
